on:
  pull_request:
    paths:
      - '**.php'
name: PHP

jobs:
  php-stan:
    name: analyse
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Composer auth
        run: |
          echo "{\"http-basic\": {\"repo.stickee.co.uk\": {\"username\": \"${{ secrets.STICKEE_REPO_USERNAME }}\",\"password\": \"${{ secrets.STICKEE_REPO_PASSWORD }}\"},\"nova.laravel.com\": {\"username\": \"${{ secrets.NOVA_USERNAME }}\",\"password\": \"${{ secrets.NOVA_PASSWORD }}\"}}}" >> auth.json
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"
          extensions: bcmath, gd, gnupg, mbstring, zip
      - name: Install dependencies
        run: composer install
      - name: Cleanup Composer auth
        run: rm -rf auth.json
      - name: Copy env
        run: cp .env.example .env
      - name: Create key
        run: php artisan key:generate
      - name: Install PHPStan
        run: |
          composer install --working-dir=tools/canary
      - name: Run PHPStan
        run: |
            tools/canary/vendor/bin/phpstan analyse -c phpstan.ci.neon --error-format=github
  php-cs-fixer:
    name: fix
    needs: php-stan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
            php-version: "8.1"
            extensions: bcmath, gd, gnupg, mbstring, zip
      - name: Install PHP CS Fixer
        run: |
          composer install --working-dir=tools/canary
      - name: Run PHP-CS-Fixer
        run: tools/canary/vendor/bin/php-cs-fixer fix
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "style: PHP CS Fixer"
          file_pattern: "**/*.php"
          disable_globbing: true
